.add-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.add-card {
  width: 60%;
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.add-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 120px;
}

.submit-btn {
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: darkgreen;
  transform: scale(1.02);
}
