.auth-container {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  width: 50%;
  background: linear-gradient(135deg, #1E3A8A, #3B82F6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 34px;
  font-weight: bold;
}

/* RIGHT SIDE */
.auth-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM CARD */
.auth-card {
  width: 80%;
  max-width: 400px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

/* INPUT GROUP */
.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTONS */
.auth-btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn {
  background-color: #1E3A8A;
  color: white;
}
.login-btn:hover {
  background-color: #142a5c;
}

.signup-btn {
  background-color: green;
  color: white;
}
.signup-btn:hover {
  background-color: darkgreen;
  transform: scale(1.02);
}

/* Switch Text */
.switch-text {
  margin-top: 15px;
  text-align: center;
}
